################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BookStore/FileContentIndex/3ac9e32e-86ca-409a-803e-8db37a6ea68c.vsidx
/.vs/BookStore/FileContentIndex/ed14f18e-dad0-40dc-a9c4-1bd8fafdd4a2.vsidx
/.vs/BookStore/FileContentIndex/read.lock
