@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style>

    h1 {
        text-align: center;
    }

    h4 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }
</style>

<body>


    <div class="container" style="background-color: grey; padding: 0;">
        <div class="panel panel-default" style="background-color: grey">
            <div class="panel-heading" style="background-color: grey" ;> <h1>DUT Clothing Store</h1></div>
            <div class="panel-body">

                <p><h3>DUT Online Clothing Store was established in 2023.</h3></p>
                <p>
                    <h4>
                        Welcome to DUT Clothing Store, your go-to destination for fashion-forward individuals seeking quality clothing that exudes style and personality. We believe that what you wear is a powerful form of self-expression, and we're here to help you make a statement.
                    </h4>
                </p>
                <br />
                <p>
                    <h4>
                        At DUT Clothing Store, we curate a diverse and carefully selected collection of clothing that combines the latest trends with timeless pieces. From casual everyday essentials to sophisticated formalwear, we've got you covered for every occasion. Our team of fashion enthusiasts scours the globe to bring you the finest garments that not only look amazing but also meet our high standards of quality and craftsmanship.
                    </h4>
                </p>
                <br />
                <p>
                    <h4>
                        We understand that shopping should be a hassle-free experience, which is why we've created an intuitive and user-friendly website. Browse through our virtual aisles, discover new styles, and easily find the perfect pieces to enhance your wardrobe. We also provide detailed product descriptions, size guides, and customer reviews to ensure that you can make informed choices and find the perfect fit.
                    </h4>
                </p>
                <br />
                <p>
                    <h4>
                        We take great pride in providing exceptional customer service. Our dedicated team is here to assist you every step of the way, from answering your inquiries to providing styling advice. Your satisfaction is our top priority, and we're committed to ensuring that your shopping experience with us is enjoyable and memorable.
                    </h4>
                </p>
                <br />
                <p>
                    <h4>
                        When you shop at DUT Clothing Store, you're not just purchasing clothes; you're becoming part of a community of fashion-forward individuals who appreciate style and quality. We celebrate diversity and believe that fashion is for everyone, regardless of age, gender, or body type. Our inclusive range of sizes and styles caters to a wide range of preferences, ensuring that there's something for everyone.
                    </h4>
                </p>
                <br />
                <p>
                    <h4>
                        We're excited to embark on this fashion journey with you. Join us in discovering new trends, expressing your unique style, and embracing your confidence. Elevate your wardrobe with DUT Clothing Store, where fashion meets passion.
                    </h4>
                </p>

            </div>
        </div>
    </div>

</body>
