@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>LINE 19 </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <!-- Bootstrap CSS -->

    <style>
        .footer-area {
            margin-top: -70px;
        }
        .qt-background {
            background-size: cover;
            background-image: url('../../images/home/florian-olivo-y3eghgfu7ns-unsplash.jpg');
            padding: 100px 0;
            background-attachment: fixed;
            background-position: center center;
            position: relative;
        }
    </style>
</head>

<body>
    <!-- Start header -->
    <!-- End header -->
    <!-- Start slides -->
    <div style=" position: relative; top: 0px; ">
        <div id="slides" class="cover-slides">
            <ul class="slides-container">
                <li class="text-center">
                    <img src="~/Images/home/alex-suprun-AHnhdjyTNGM-unsplash.jpg" />
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong>Welcome To <br> Hendrix Auto Repair  </strong></h1>
                                <p class="m-b-40">
                                    If you are searching for a trusted and professional auto repair and service centre in South Africa, <br /> rely on the best in the business for assistance.
                                </p>
                                <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="@Url.Action("OurProducts", "Products")">Store</a></p>
                                @*<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>*@
                            </div>
                        </div>
                    </div>
                </li>
                <li class="text-center">
                    <img src="~/Images/home/bruno-van-der-kraan-aq3FzYWK5Xw-unsplash (1).jpg" />
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong>Welcome To <br> HENDRIX REPAIR STORE </strong></h1>
                                @*<h4>Little Story About Us</h4>*@
                            <p class="m-b-40">
                                Welcome to our online auto repair shop, where reliability meets convenience! We are your ultimate destination for all things automotive, offering a comprehensive range of services to keep your vehicle running smoothly. Our team is here to provide you with top-notch car care and maintenance, ensuring you can hit the road with confidence. Welcome to the world of dependable automotive service!
                            </p>
                                <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="@Url.Action("OurProducts", "Products")">Store</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="text-center">
                    <img src="~/Images/home/lorenzo-hamers-K2bNjPOUzSQ-unsplash.jpg" />
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong>Welcome To <br> Hendrix Auto Repair </strong></h1>
                                @*<h4>Little Story About Us</h4>*@
                            <p class="m-b-40">
                                Whether you're seeking essential maintenance, advanced repairs, or quality automotive accessories, we have it all within reach. Our objective is to make servicing your vehicle a hassle-free experience, offering top-notch solutions that not only keep your vehicle running well but also ensure your peace of mind on the road. With our easy-to-navigate online platform, exceptional customer support, and efficient service, we aim to provide a satisfying automotive journey from start to finish.
                            </p>
                                <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="@Url.Action("OurProducts", "Products")">Store</a></p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- End slides -->
        <!-- Start About -->
        <div class="about-section-box">
            <!-- End About -->
            <!-- Start QT -->
            <div class="qt-box qt-background">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-left">
                            <p class="lead "> “AUTO REPAIR & CAR SERVICE, MAINTENANCE CENTRE!” </p>
                            <span class="lead">~mfb</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End QT -->
            <!-- Start Menu -->
            <!--<div class="menu-box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="heading-title text-center">
                                <h2>Special Selection</h2>
                                <p> Wide variety of clothes to choose </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="special-menu text-center">
                                <div class="button-group filter-button-group">
                                    <button class="active" data-filter="*">All</button>
                                    <button data-filter=".drinks">ACCESSORIE</button>
                                    <button data-filter=".lunch">ENGINE</button>
                                    <button data-filter=".dinner">OIL AND LIQUIDS</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row special-list">
                        <div class="col-lg-4 col-md-6 special-grid drinks">
                            <div class="gallery-single fix" style="height:400px; width:325px">
                                <img src="~/Images/HomeProducts/istockphoto-495873497-2048x2048-transformed.jpeg" class="img-fluid" style=" padding-top: 25%;"  />-->
                                @*<img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/EvaBlouseCream_2000x.png" class="img-fluid" style="height: 100%;" />*@
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Fallen Angel.png" alt="Action Book">*@
                                <!--<div class="why-text">
                                    <h4>Cream blouse  </h4>
                                    <p>Classy</p>
                                    <h5> R275.00</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 special-grid drinks">
                            <div class="gallery-single fix" style="height:400px; width:325px">
                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/49830787ac_999_f.jpg" class="img-fluid"/>-->
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Rewind.jpg" class="img-fluid" alt="Image">*@
                                <!--<div class="why-text">
                                    <h4>Drop shoulder dress</h4>
                                    <p>for a bender</p>
                                    <h5> R275.00</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 special-grid drinks">
                            <div class="gallery-single fix" style="height:400px; width:325px">
                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/54212999-800-800.jpg" class="img-fluid" style="height: 100%;" />-->
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Black Thunder.jpg" class="img-fluid" alt="Image">*@
                                <!--<div class="why-text">
                                    <h4>Nike limited</h4>
                                    <p>for an impression</p>
                                    <h5> R300.00</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 special-grid lunch">
                            <div class="gallery-single fix" style="height:400px; width:325px">
                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/7223023427_6_30_1.jpg" class="img-fluid" />-->
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Classroomofelite.jpg" class="img-fluid" alt="Image">*@
                                <!--<div class="why-text">
                                    <h4>loose fit jeans</h4>
                                    <p>comfortable style</p>
                                    <h5> R190.00</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 special-grid lunch">
                            <div class="gallery-single fix" style="height:400px; width:325px">
                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/55370305-1-pdpxl.jpeg" class="img-fluid" style="height: 100%;" />-->
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Psychic Kusuo.jpg" class="img-fluid" alt="Image">*@
                                <!--<div class="why-text">
                                    <h4>Engineer</h4>
                                    <p>Definition of og </p>
                                    <h5> R180.00</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 special-grid lunch">
                            <div class="gallery-single fix" style="height:400px; width:325px">

                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/56295055-800-800.jpg" class="img-fluid" style="height: 100%;" />-->
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Death-Note-Vol-1-Cover-1.jpg" class="img-fluid" alt="Image">*@
                                <!--<div class="why-text">
                                    <h4>North Face </h4>
                                    <p> Direction </p>
                                    <h5> R180.00</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 special-grid dinner">
                            <div class="gallery-single fix" style="height:400px; width:325px">
                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/BRIDES-23-best-places-to-buy-bridesmaids-dresses-online-4783902-recirc-e794adce6aba4c19aafeec03b75d5307.jpg" class="img-fluid" style="height: 100%;" />-->
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/high-school-dxd-.jpg" class="img-fluid" alt="Image">*@
                                <!--<div class="why-text">
                                    <h4>green dress</h4>
                                    <p>stylish elegance</p>
                                    <h5> R190.00</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 special-grid dinner">
                            <div class="gallery-single fix" style="height:400px; width:325px">
                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/7223023427_6_30_1.jpg" style="height: 100%;" class="img-fluid" />-->
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Infinite stratos.jpg" class="img-fluid" alt="Image">*@
                                <!--<div class="why-text">
                                    <h4>Jeans</h4>
                                    <p>Charging through</p>
                                    <h5> R190.00</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 special-grid dinner">
                            <div class="gallery-single fix" style="height:400px; width:325px">
                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/EvaBlouseCream_2000x.png" class="img-fluid" style="height: 100%;"/>-->
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Kingdom.jpg" class="img-fluid" alt="Image">*@
                                <!--<div class="why-text">
                                    <h4>Eva Blouse Cream</h4>
                                    <p>Class is confidence</p>
                                    <h5> R170.00</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>-->
         
            <div class="contact-imfo-box">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa fa-volume-control-phone"></i>
                            <div class="overflow-hidden">
                                <h4>Phone</h4>
                                <p class="lead">
                                    +01 123-456-4590
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-envelope"></i>
                            <div class="overflow-hidden">
                                <h4>Email</h4>
                                <p class="lead">
                                    hendrixauto@gmail.com
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-map-marker"></i>
                            <div class="overflow-hidden">
                                <h4>Location</h4>
                                <p class="lead">
                                    41/43 M L Sultan Rd, Greyville, Durban, 4001
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <a href="#" id="back-to-top" title="Back to top" style="display: none">&uarr;</a>

            <!-- ALL JS FILES -->
        </div>
</body>
</html>