@{
    Layout = "~/Views/Shared/_Layout1.cshtml";

}

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">3
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>LINE 19 </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <!-- Bootstrap CSS -->


</head>

<body>
    <!-- Start header -->
    <!-- End header -->
    <!-- Start slides -->
    <div style=" position: relative; top: -217px; ">
        <div id="slides" class="cover-slides">
            <ul class="slides-container">
                <li class="text-center">
                    <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/unnamed.jpg" />
                    @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/B1.jpg" alt="">*@
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong>Welcome To <br> DUT Clothing Store  </strong></h1>
                                <p class="m-b-40">
                                    See how your users experience your website in realtime or view  <br>
                                    trends to see any changes in performance over time.
                                </p>
                                @*<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>*@
                            </div>
                        </div>
                    </div>
                </li>
                <li class="text-center">
                    <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/ee9acfe0-blog_clothing-store-business-plan_1200x628.jpg" />
                    @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/B2.jpg" alt="">*@
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong>Welcome To <br> Verulam Secondaries book store</strong></h1>
                                <h4>Little Story About Us</h4>
                                <p class="m-b-40">
                                    Welcome to our online clothing store, where style meets convenience! We are your ultimate destination for all things fashion, offering a curated collection of trendy and timeless pieces to enhance your wardrobe.
                                </p>
                                <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="@Url.Action("OurProducts", "Products")">Store</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="text-center">
                    <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/uniq-launch-b.jpeg" />
                    @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Bookstore slider.jpg" alt="">*@
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong>Welcome To <br> DUT Clothing Store </strong></h1>
                                <h4>Little Story About Us</h4>
                                <p class="m-b-40">
                                    Whether you're looking for casual essentials, chic formalwear, or stylish accessories, we have it all at your fingertips. Our goal is to make shopping a seamless experience, providing you with high-quality garments that not only make you look good but also feel confident and comfortable. With our user-friendly website, exceptional customer service, and fast shipping, we strive to deliver a delightful shopping journey from start to finish.
                                </p>
                                <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="@Url.Action("OurProducts", "Products")">Store</a></p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="slides-navigation">
                <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- End slides -->
        <!-- Start About -->
        <div class="about-section-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/image (1).jpg" class="img-fluid" />
                        @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/H2.jpg" alt="" class="img-fluid">*@
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                        <div class="inner-column">
                            <h1>Welcome To <span>DUT Clothing Store </span></h1>
                            <h4>Little Story About Us</h4>
                            <p>
                                Explore our virtual aisles, discover the latest fashion trends, and express your unique personal style with our carefully selected clothing options. Get ready to elevate your fashion game with just a few clicks. Welcome to our online clothing store, where fashion is just a heartbeat away!
                            </p>
                            <div class="btn btn-lg btn-circle btn-outline-new-white">
                                @Html.ActionLink("More Info", "About", "Home")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End About -->
            <!-- Start QT -->
            <div class="qt-box qt-background">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-left">
                            <p class="lead ">
                                “Express Your Style, Unleash Your Confidence!”
                            </p>
                            <span class="lead">~mfb</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End QT -->
            <!-- Start Menu -->
            <div class="menu-box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="heading-title text-center">
                                <h2>Special Selection</h2>
                                <p> Wide variety of clothes to choose </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="special-menu text-center">
                                <div class="button-group filter-button-group">
                                    <button class="active" data-filter="*">All</button>
                                    <button data-filter=".drinks">Elegant wear</button>
                                    <button data-filter=".lunch">Casual wear</button>
                                    <button data-filter=".dinner">Office wear</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row special-list">
                        <div class="col-lg-4 col-md-6 special-grid drinks">
                            <div class="gallery-single fix" style="height:400px; width:325px">
                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/EvaBlouseCream_2000x.png" class="img-fluid" style="height: 100%;"/>
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Fallen Angel.png" alt="Action Book">*@
                                <div class="why-text">
                                    <h4>Cream blouse  </h4>
                                    <p>Classy</p>
                                    <h5> R275.00</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 special-grid drinks">
                            <div class="gallery-single fix" style="height:400px; width:325px">
                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/49830787ac_999_f.jpg" class="img-fluid"/>
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Rewind.jpg" class="img-fluid" alt="Image">*@
                                <div class="why-text">
                                    <h4>Drop shoulder dress</h4>
                                    <p>for a bender</p>
                                    <h5> R275.00</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 special-grid drinks">
                            <div class="gallery-single fix" style="height:400px; width:325px">
                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/54212999-800-800.jpg" class="img-fluid" style="height: 100%;" />
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Black Thunder.jpg" class="img-fluid" alt="Image">*@
                                <div class="why-text">
                                    <h4>Nike limited</h4>
                                    <p>for an impression</p>
                                    <h5> R300.00</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 special-grid lunch">
                            <div class="gallery-single fix" style="height:400px; width:325px">
                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/7223023427_6_30_1.jpg" class="img-fluid" />
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Classroomofelite.jpg" class="img-fluid" alt="Image">*@
                                <div class="why-text">
                                    <h4>loose fit jeans</h4>
                                    <p>comfortable style</p>
                                    <h5> R190.00</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 special-grid lunch">
                            <div class="gallery-single fix" style="height:400px; width:325px">
                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/55370305-1-pdpxl.jpeg" class="img-fluid" style="height: 100%;" />
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Psychic Kusuo.jpg" class="img-fluid" alt="Image">*@
                                <div class="why-text">
                                    <h4>Engineer</h4>
                                    <p>Definition of og </p>
                                    <h5> R180.00</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 special-grid lunch">
                            <div class="gallery-single fix" style="height:400px; width:325px">

                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/56295055-800-800.jpg" class="img-fluid" style="height: 100%;" />
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Death-Note-Vol-1-Cover-1.jpg" class="img-fluid" alt="Image">*@
                                <div class="why-text">
                                    <h4>North Face </h4>
                                    <p> Direction </p>
                                    <h5> R180.00</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 special-grid dinner">
                            <div class="gallery-single fix" style="height:400px; width:325px">
                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/BRIDES-23-best-places-to-buy-bridesmaids-dresses-online-4783902-recirc-e794adce6aba4c19aafeec03b75d5307.jpg" class="img-fluid" style="height: 100%;" />
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/high-school-dxd-.jpg" class="img-fluid" alt="Image">*@
                                <div class="why-text">
                                    <h4>green dress</h4>
                                    <p>stylish elegance</p>
                                    <h5> R190.00</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 special-grid dinner">
                            <div class="gallery-single fix" style="height:400px; width:325px">
                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/7223023427_6_30_1.jpg" style="height: 100%;" class="img-fluid" />
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Infinite stratos.jpg" class="img-fluid" alt="Image">*@
                                <div class="why-text">
                                    <h4>Jeans</h4>
                                    <p>Charging through</p>
                                    <h5> R190.00</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 special-grid dinner">
                            <div class="gallery-single fix" style="height:400px; width:325px">
                                <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/EvaBlouseCream_2000x.png" class="img-fluid" style="height: 100%;"/>
                                @*<img src="~/Content/Theme1/images/CustomIMAges/BookStore/Kingdom.jpg" class="img-fluid" alt="Image">*@
                                <div class="why-text">
                                    <h4>Eva Blouse Cream</h4>
                                    <p>Class is confidence</p>
                                    <h5> R170.00</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Menu -->
            <!-- Start Gallery -->
            <div class="gallery-box">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="heading-title text-center">
                                <h2>Gallery</h2>
                                <p>Wide variety of clothing to choose from!</p>
                            </div>
                        </div>
                    </div>
                    <div class="tz-gallery">
                        <div class="row" style=" padding-left: 150px !important; ">
                            <div class="col-sm-12 col-md-4 col-lg-4" style="height: 200px">
                                <a class="lightbox" href="images/gallery-img-01.jpg">
                                    <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/image (1).jpg" />
                                    @*<img class="img-fluid" src="~/Content/Theme1/images/CustomIMAges/BookStore/My-Hero-Academia.jpg" alt="Gallery Images">*@
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <a class="lightbox" href="images/gallery-img-02.jpg">
                                    <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/pexels-willo-m-3768005.jpg" />
                                    @*<img class="img-fluid" src="~/Content/Theme1/images/CustomIMAges/BookStore/Eragon.Bayard.French-edition.jpg" alt="Gallery Images">*@
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <a class="lightbox" href="images/gallery-img-03.jpg">
                                    <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/alexander-kovacs-GMGdhtYeROY-unsplash.jpg" />
                                    @*<img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/pexels-willo-m-3768005.jpg" />*@
                                    @*<img class="img-fluid" src="~/Content/Theme1/images/CustomIMAges/BookStore/Inheritance.jpg" alt="Gallery Images">*@
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <a class="lightbox" href="images/gallery-img-04.jpg">
                                    <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/priscilla-du-preez-dlxLGIy-2VU-unsplash.jpg" />
                                    @*<img class="img-fluid" src="~/Content/Theme1/images/CustomIMAges/BookStore/throne of fire.jpg" alt="Gallery Images">*@
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <a class="lightbox" href="images/gallery-img-05.jpg">
                                    <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/best-shopify-apps-for-clothing-store.jpg" />
                                    @*<img class="img-fluid" src="~/Content/Theme1/images/CustomIMAges/BookStore/lunatics curse.jpg" alt="Gallery Images">*@
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <a class="lightbox" href="images/gallery-img-06.jpg">
                                    <img src="~/Content/Theme1/images/CustomIMAges/ClothingStore/hannah-morgan-ycVFts5Ma4s-unsplash.jpg" />
                                    @*<img class="img-fluid" src="~/Content/Theme1/images/CustomIMAges/BookStore/Lunar-Storm.jpeg" alt="Gallery Images">*@
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Gallery -->
            <!-- Start Customer Reviews -->
            <!-- <div class="customer-reviews-box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="heading-title text-center">
                                <h2>Customer Reviews</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mr-auto ml-auto text-center">
                            <div id="reviews" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner mt-4">
                                    <div class="carousel-item text-center active">
                                        <div class="img-box p-1 border rounded-circle m-auto">
                                            <img class="d-block w-100 rounded-circle" src="images/profile-1.jpg" alt="">
                                        </div>
                                        <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Paul Mitchel</strong></h5>
                                        <h6 class="text-dark m-0">Web Developer</h6>
                                        <p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
                                    </div>
                                    <div class="carousel-item text-center">
                                        <div class="img-box p-1 border rounded-circle m-auto">
                                            <img class="d-block w-100 rounded-circle" src="images/profile-3.jpg" alt="">
                                        </div>
                                        <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Steve Fonsi</strong></h5>
                                        <h6 class="text-dark m-0">Web Designer</h6>
                                        <p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
                                    </div>
                                    <div class="carousel-item text-center">
                                        <div class="img-box p-1 border rounded-circle m-auto">
                                            <img class="d-block w-100 rounded-circle" src="images/profile-7.jpg" alt="">
                                        </div>
                                        <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Daniel vebar</strong></h5>
                                        <h6 class="text-dark m-0">Seo Analyst</h6>
                                        <p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- End Customer Reviews -->
            <!-- Start Contact info -->
            <div class="contact-imfo-box">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa fa-volume-control-phone"></i>
                            <div class="overflow-hidden">
                                <h4>Phone</h4>
                                <p class="lead">
                                    +01 123-456-4590
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-envelope"></i>
                            <div class="overflow-hidden">
                                <h4>Email</h4>
                                <p class="lead">
                                    dutclothingstore@gmail.com
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-map-marker"></i>
                            <div class="overflow-hidden">
                                <h4>Location</h4>
                                <p class="lead">
                                    41/43 M L Sultan Rd, Greyville, Durban, 4001
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Contact info -->
            <!-- Start Footer -->
            @*<footer class="footer-area bg-f">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <h3>About Us</h3>
                                <p>Integer cursus scelerisque ipsum id efficitur. Donec a dui fringilla, gravida lorem ac, semper magna. Aenean rhoncus ac lectus a interdum. Vivamus semper posuere dui, at ornare turpis ultrices sit amet. Nulla cursus lorem ut nisi porta, ac eleifend arcu ultrices.</p>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <h3>Opening hours</h3>
                                <p><span class="text-color">Monday: </span>Closed</p>
                                <p><span class="text-color">Tue-Wed :</span> 9:Am - 10PM</p>
                                <p><span class="text-color">Thu-Fri :</span> 9:Am - 10PM</p>
                                <p><span class="text-color">Sat-Sun :</span> 5:PM - 10PM</p>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <h3>Contact information</h3>
                                <p class="lead">Ipsum Street, Lorem Tower, MO, Columbia, 508000</p>
                                <p class="lead"><a href="#">+01 2000 800 9999</a></p>
                                <p><a href="#"> info@admin.com</a></p>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <h3>Subscribe</h3>
                                <div class="subscribe_form">
                                    <form class="subscribe_form">
                                        <input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..." type="email">
                                        <button type="submit" class="submit">SUBSCRIBE</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                                <ul class="list-inline f-social">
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="copyright">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="company-name">
                                        All Rights Reserved. &copy; 2018 <a href="#">Yamifood Restaurant</a> Design By :
                                        <a href="https://html.design/">html design</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </footer>*@
            <!-- End Footer -->

            <a href="#" id="back-to-top" title="Back to top" style="display: none">&uarr;</a>

            <!-- ALL JS FILES -->
        </div>
</body>
</html>